
.Score{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    width: 70%;
 }
 
 .ScoreScore {
    text-decoration: none;
    color: rgb(255, 196, 0);
    font-size: 15px;
    padding: 0px;
    margin: 0px;
 }
 
 .ScoreCount {
   color: rgb(255, 196, 0);
   font-size: 15px;
   padding: 0px;
   margin: 0px;
 }
 
 .Star {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgb(255, 196, 0);
 }
 
 .Star svg {
    height:40px;
    width: 40px;
    
 }
 
 .BtnAvaliation {
    width: 100%;
    height: 40px;
 }